body {
  /*background-color: #ccffcc;*/
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/44/cf/d1/44cfd1b6d09e734fe96e9a20f16580f3.gif")
}

h1 {
  color: white;
  /*background-color: white;*/
  font-family: "Verdana", sans-serif;
  text-align: center;
  text-shadow: 1px 1px #404040;
  padding: 100px;
}

p {
  color: #ff5050;
  background-color: white;
  /*background-image: url("http://www.zingerbug.com/Backgrounds/background_images/light_blue_diagonal_bricks_pattern.gif");*/
  font-family: "Verdana", sans-serif;
  /*text-shadow: 2px 2px #e6e6e6;*/
  text-align: center;
  font-weight: normal;
  padding: 50px 50px;
  margin: 25px 50px;
  border: 2px solid black;
  text-indent: inherit;
}
/*e6e6e6 is the light gray*/
